{% load filter_retain %}
<div class="pager">
   {% if has_previous %}
   <span class="page">
      <a href="?{% param_replace page=page_obj.previous_page_number %}">&lt; Prev</a>
   </span>
   {% endif %}

   {% if show_first %}
   <span class="page"><a href="?{% param_replace page=1 %}">1</a></span>
   <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in page_numbers %}
   {% ifequal linkpage page %}
   <span class="current">{{ page }}</span>
   {% else %}
   <span class="page"><a href="?{% param_replace page=linkpage %}">{{ linkpage }}</a></span>
   {% endifequal %}
   {% endfor %}
   {% if show_last %}
   {% if page_obj.next_page_number != paginator.num_pages %}

   <span class="ellipsis">...</span>
   <span class="page"><a href="?{% param_replace page=pages %}">{{ pages }}</a></span>
   {% endif %}
   {% endif %}
   {% if page_obj.has_next %}
   {% if page_obj.next_page_number != paginator.num_pages %}
   <span class="page"><a href="?{% param_replace page=page_obj.next_page_number %}">Next &gt;</a></span>
   {% endif %}
   {% endif %}
</div>